body {
    font-family: Arial, sans-serif;
    margin: 40px;
}

h1 {
    color: #333;
}

a {
    display: inline-block;
    margin-bottom: 10px;
    text-decoration: none;
    color: 0066cc;
}

a:hover {
    text-decoration: underline;
}